/*
* @Author: Pearl8
* @Date:   2018-02-17 14:58:30
* @Last Modified by:   Pearl8
* @Last Modified time: 2018-02-17 15:09:08
*/
.nav{
    background: #eee;
    height: 30px;
    line-height: 30px;
}
/* 用户部分 */
.nav .user{
    float: left;
}
.nav .user.login{
    display: none;
}
.nav .user .link{
    margin-right: 5px;
}
/* 导航链接部分 */
.nav .nav-list{
    float: right;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
}
