/*
* @Author: Pearl8
* @Date:   2018-02-17 14:58:30
* @Last Modified by:   Pearl8
* @Last Modified time: 2018-02-17 15:09:22
*/
.footer{
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}